* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #c5a583;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 60px;
  height: 60px;
}

.header-logo:hover {
  cursor: pointer;
  scale: 1.2;
}

header {
  background-color: #ffffff;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.4);
}

.nav-list {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.nav-list-item {
  margin-left: 60px;
}

a:hover {
  cursor: pointer;
  opacity: 0.5;
}

.nav-links {
  color: #c5a583;
}

.mobile-menu-icon {
  display: none;
}

.slider {
  width: 99.5vw;
  height: 515px;
  margin: 10px auto;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 515px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  border-radius: 20px;
  width: 25%;
}

.slide img {
  width: 100%;
  border-radius: 20px;
}

.manual-navigation {
  position: absolute;
  width: 1300px;
  margin-top: -60px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #727272;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background-color: #727272;
}

@media screen and (max-width: 720px) {
  header {
    width: 100vw;
    padding: 20px;
  }

  .nav-list {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    width: 60px;
    filter: #c5a583;
  }
}
